<!DOCTYPE html>
<html>
<head>
    <title>编辑器demo</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

    <script type="text/javascript" charset="utf-8" src="{{ asset('static/jquery/jquery.min.js') }}"></script>

    <script type="text/javascript" charset="utf-8" src="{{ asset('static/ueditor/lib/ueditor.config.js') }}"></script>
    <script type="text/javascript" charset="utf-8" src="{{ asset('static/ueditor/lib/ueditor.all.min.js') }}"></script>
    <script type="text/javascript" charset="utf-8" src="{{ asset('static/ueditor/lib/lang/zh-cn/zh-cn.js') }}"></script>

</head>
<body>
<div>
    <h1>编辑器demo</h1>
    <textarea name="" id="editor" style="width: 800px;height: 300px;">欢迎使用ueditor!</textarea>
    <button class="js-submit">提交</button>
</div>

<script type="text/javascript">

    //编辑器id
    var editorId = 'editor';

    //实例化编辑器
    var ue = UE.getEditor(editorId, {
        serverUrl: "{{ url('ueditor') }}",
        //initialContent: '欢迎使用ueditor!',  //初始化编辑器的内容,也可以通过textarea/script 给值
        autoHeightEnabled: true,
        autoFloatEnabled: true,
        enableAutoSave: false,
        saveInterval: 1000 * 60 * 60,
        iframeCssUrl: '{{ asset('static/ueditor/themes/iframe.css') }}',
        toolbars: [[
            'fullscreen',
            'source', 'emotion', 'fontfamily', 'fontsize', 'bold', 'italic', 'underline', 'fontborder', 'strikethrough',
            'justifyleft', 'justifyright', 'justifycenter',
            'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'pasteplain',
            'removeformat', 'formatmatch', 'autotypeset', 'simpleupload', 'insertimage',
            'undo', 'redo'
        ]]
    });

    //初始化完毕同步编辑器内容到textarea中
    ue.ready(function () {
        //ue.setContent('欢迎使用ueditor',true); //追加内容到编辑器
        var content = this.getContent();
        $("#" + editorId).val(content);
    });

    //失去焦点时自动同步编辑器内容到textarea中
    ue.onblur = function () {
        var content = this.getContent();
        $("#" + editorId).val(content);
    };

    $(function () {
        $(".js-submit").click(function () {
            console.log($("#" + editorId).val());
        });
    })

</script>
</body>
</html>